/**
 * Generell style
 */

$color_white: #ffffff;
$color_black: #000000;
$color_shaddow_black: rgba(0, 0, 0, 0.08);

/**
 * Navbar
 */

$nav-width: 200px;
$nav-height: 200px;

$nav-effect-height: 40px;
$nav-effect-time: 0.35s;
$time-one: 0.35s;
$time-two: 1.225s;
$func-one: ease-in;
$func-two: ease-in;
