@import "../../../assets/scss/principles";

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.console-mod {
  padding: $distance_l $distance_xl;
  background: $color_not_white;
  border: $border_radius_xs solid $color_white;
  border-radius: $border_radius_m;
  min-height: 598px;
  color: $color_white;

  &.active {
    .content pre::after {
      background: transparent;
      visibility: hidden;
      animation: none;
    }
  }

  .content {
    width: 100%;
    pre {
      &::after {
        content: " ";
        background: $color_white;
        animation: blink 0.75s steps(5, start) infinite;
      }
    }
  }
}

@media screen and (min-width: $breakpoint_sm) {
  .console-mod {
    padding: $distance_xl $distance_xxl;
    min-height: 807px;
  }
}

@media screen and (min-width: $breakpoint_md) {
  .console-mod {
    padding: $distance_xxl $distance_xxxl;
    min-height: 986px;
  }
}
