@import "../../../assets/scss/principles";

.text-mod-02 {
  .header {
    text-align: center;
    margin-bottom: $distance_xxl;
    h3 {
      color: $color_white;
    }
  }
  .box-container {
    text-align: left;
    padding: $distance_xl + 8px; // eig. 40px;
    background: $color_not_white;
    box-sizing: border-box;
    margin-right: $distance_l; // eig. 20px
    border: $border_radius_xs solid $color_white;
    border-radius: 12px 12px 0px 0px;
    border-bottom: 0;

    ~ .box-container {
      border-radius: 0px 0px 12px 12px;
      border: $border_radius_xs solid $color_white;
    }

    h4 {
      color: $color_white;
      margin-bottom: $distance_l;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        span {
          width: 22px;
          height: 22px;
          padding-top: 6px;
          padding-left: 1px;
          margin-right: 2px;
          border-radius: $border_radius_xs;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
        }
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint_md) {
  .text-mod-02 {
    .box-container {
      border: $border_radius_xs solid $color_white;
      border-radius: $border_radius_m + 4px;
      ~ .box-container {
        border: $border_radius_xs solid $color_white;
        border-radius: $border_radius_m + 4px;
      }
    }
  }
}
