<div class="row slider-one" *ngIf="currentItem">
    <div class="col-lg-offset-4 col-lg-4 slider-one-header">
        <h3>{{ title }}</h3>
    </div>

    <div class="col-lg-offset-3 col-lg-6 slider-one-item">
        <div class="container-header">
            <div class="company">
                <h5>{{ currentItem.company }}</h5>
            </div>
            <div class="date">
                <p>{{ currentItem.date }}</p>
            </div>
        </div>

        <div class="container-job-title overline">
            {{ currentItem.jobDescription }}
        </div>

        <div class="container-text">
            <p>
                {{ currentItem.text }}
            </p>
        </div>

        <ul *ngFor="let point of currentItem.points">
            <li>
                <p>{{ point }}</p>
            </li>
        </ul>

        <div class="slider-one-pagination">
            <span  *ngFor="let slider of sliderItems; let i = index" [ngClass]="{active:currentItemIndex === i}" class="dot"></span>
        </div>

        <a class="slider-one-btn-left" (click)="handleSliderOneClickLeft()">
            <img src="/assets/icons/rectangle_48.svg" alt="arrow button">
        </a>
        
        <a class="slider-one-btn-right" (click)="handleSliderOneClickRight()">
            <img src="/assets/icons/rectangle_48.svg" alt="arrow button">
        </a>
    </div>
</div>