<div class="app-container">
  <div class="app-inner">

    <app-navbar [navItems]="navItems"></app-navbar>
    <div style="background-color: red;" class="section-01 start"></div>
    <div style="background-color: black;" class="section-02 about"></div>
    <div style="background-color: grenn;" class="section-03 experience"></div>
    <div style="background-color: blue;" class="section-04 projects"></div>
    <div style="background-color: yellow;"class="section-05 educations"></div>
    <div style="background-color: lightblue;"class="section-06 test"></div>
  </div>
</div>