<div class="app-container">
    <app-navbar [navItems]="navItems"></app-navbar>
    <div class="section-01">
      <div class="sec-inner">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-1">
            <div class="container-one">
              <h1>THOMAS</h1>
            </div>
            <div class="container-two">
              <h1>DORFER</h1>
              <h4>Engineering is my passion.</h4>
            </div>
          </div>
        </div>
        <img class="col-lg-4" src="/assets/images/profile_image.png" alt="profil image thomas dorfer  ">
      </div>
    </div>

    <div class="section-02">
      <div class="sec-inner"> 
        <app-text-mod01 [item]="aboutMe"></app-text-mod01>
        <app-console-mod></app-console-mod>
      </div>
    </div>

    <div class="section-03">
     <div class="sec-inner">
      <app-slider-one [title]="'Work Experience'" [sliderItems]="companies"></app-slider-one>
     </div>
    </div>

    <div class="section-04">
      <div class="sec-inner">
        <app-slider-two [sliderItems]="projects"></app-slider-two>
      </div>
    </div>

    <div class="section-05">
      <div class="sec-inner">
        <app-text-mod02 [item]="furtherStuff"></app-text-mod02>
      </div>
    </div>

    <div class="section-06 test">
    
    </div>

</div>


