<div class="row">
    <div class="text-mod-01 col-lg-6 col-lg-offset-3">
        <div class="header">
            <h3>
                That's me
            </h3>
        </div>
        <div class="content">
            <p>
                Servus 👋🏼 /*hello*/ <br>
                I am Thomas Dorfer from Austria and currently studying web business and technology at the University of Applied Sciences in Kufstein, where I also work as a student assistant. 
            </p>
            <p>
                In my spare time, I like to meet friends, do sports in the mountains and have a passion for travelling around the world. These things help me to stay focused and give me a natural height, which is a perfect balance to one of my favourite things in life, and that is coding.
            </p>
            <p>
                So far, I have mainly gained experience in the frontend area and had the opportunity to develop skills in app development as well. It also appeals to me to create the logic in the backend to become a full-stack or software developer. Then, when I have my bachelor, I want to deepen myself and do a master in computer science.
            </p>
        </div>
    </div>
</div>





