@import "../../../assets/scss/principles";

.nav-outer-container {
  display: flex;
  justify-content: flex-end;
}
.nav-container {
  z-index: 1000;
  position: fixed;
  right: 50%;
  top: $distance_s;
  transform: translateX(50%);
  max-width: $nav-width;
  max-height: $nav-height;
  background: $color_white;
  box-shadow: 0px 4px 60px $color_shaddow_black;
  border-radius: $border_radius_xs;
  overflow: hidden;
  cursor: pointer;
  height: auto;
  transition: all $time-one $func-one;
  transition-property: max-height max-width;
  font-family: $font_trispace;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  &.hide {
    max-height: $nav-effect-height;
    .nav-items-active,
    .nav-items {
      min-width: 0;
      img {
        transform: rotate(180deg);
      }
    }
    &:hover {
      max-height: $nav-height;
      .nav-items-active,
      .nav-items {
        min-width: $nav-width;
        transition-delay: -1s;
        img {
          transform: rotate(360deg);
        }
      }
    }
  }
  .nav-items-active {
    min-width: $nav-width;
    padding: $distance_xs $distance_s;
    width: auto;
    pointer-events: none;
    border-radius: $border_radius_s;
    border: $border_radius_xs solid $color_white;
    background: $color_black;
    color: $color_white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all $time-two $func-two;
    transition-property: min-width;
    img {
      margin-left: $distance_m;
      transition: transform $time-one linear;
    }
  }
  .nav-items {
    width: auto;
    min-width: $nav-width;
    width: 100%;
    transition: all $time-two $func-two;
    transition-property: min-width;
    transition-delay: -1s;
    ul {
      padding: $distance_m $distance_s $distance_l $distance_m;
      margin: 0;
      list-style: none;
      overflow: hidden;
      li:before {
        content: "\00BB \0020";
      }
    }
  }
}

@media screen and (min-width: $breakpoint_sm) {
  .nav-container {
    right: $distance_l;
    top: $distance_xl;
    transform: none;
  }
}
